<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GAFBusiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICertificador"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pruebas.ntlink.com.mx/CertificadorWs33/CertificadorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificador" contract="InternalCertificador.ICertificador" name="BasicHttpBinding_ICertificador"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <GAFBusiness.Properties.Settings>
            <setting name="GAFBusiness_ReportExecution_ReportExecutionService" serializeAs="String">
                <value>http://hannapaola:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="GAFBusiness_ReportService_ReportingService2005" serializeAs="String">
                <value>http://hannapaola:80/ReportServer/ReportService2005.asmx</value>
            </setting>
        </GAFBusiness.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
