<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CatalogosEntities1" connectionString="metadata=res://*/ModeloCatalogos.csdl|res://*/ModeloCatalogos.ssdl|res://*/ModeloCatalogos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANONIMO-PC\BASE;initial catalog=Catalogos;user id=rgv;password=ricardin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
