<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICertificador" />
                <binding name="Timbrado_ManagerBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="Timbrado_ManagerBinding1" />
                <binding name="ServicioTimbradoWSBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioTimbradoWSBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pruebas.ntlink.com.mx/CertificadorWs33Cancelar/CertificadorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificador"
                contract="NtLinkService.ICertificador" name="BasicHttpBinding_ICertificador" />
            <endpoint address="https://t1demo.facturacionmoderna.com/timbrado/soap"
                binding="basicHttpBinding" bindingConfiguration="Timbrado_ManagerBinding"
                contract="facturacionmoderna.Timbrado_ManagerPort" name="Timbrado_ManagerPort" />
            <endpoint address="https://dev.timbradorxpress.mx:443/ws/servicio.do"
                binding="basicHttpBinding" bindingConfiguration="ServicioTimbradoWSBinding"
                contract="TimbradoXpress.ServicioTimbradoWSPortType" name="ServicioTimbradoWSPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
