<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date-%thread-%level-%type.%method.%line: %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <immediateFlush value="true" />
      <maximumFileSize value="2MB" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date-%thread-%level-%type.%method.%line: %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <connectionStrings>
    <add name="GAFEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GAF;user id=rgv;password=ricardin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  <appSettings>
   <!-- <add key="APIKey" value="a1a9b018b0c645baab5b4e10df15c58b" />-->   <!--pruebas --> 
    <add key="APIKey" value="50f1a9404e9349739bd436bd9f7c0eae" />  
  </appSettings>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicioTimbradoWSBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ServicioTimbradoWSBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
     <!-- <endpoint address="https://dev.timbradorxpress.mx:443/ws/servicio.do"
                  binding="basicHttpBinding" bindingConfiguration="ServicioTimbradoWSBinding"
                  contract="TimbradoXpress.ServicioTimbradoWSPortType" name="ServicioTimbradoWSPort" />-->
    <endpoint address="https://app.facturaloplus.com/ws/servicio.do"
                  binding="basicHttpBinding" bindingConfiguration="ServicioTimbradoWSBinding"
                  contract="TimbradoXpress.ServicioTimbradoWSPortType" name="ServicioTimbradoWSPort" />
   
    </client>
  </system.serviceModel>
</configuration>